# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Node
node_modules/
dist/
build/
coverage/
.vite/

# Java / Gradle
.gradle/
out/
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar
